[submodule "libs/Signals"]
	path = libs/Signals
	url = https://github.com/animber-coder/Signals
	branch = master
[submodule "demos/chess"]
	path = demos/chess
	url = https://github.com/animber-coder/Chess-curses.git
	branch = master
[submodule "external/ncurses-snapshots"]
	path = external/ncurses-snapshots
	url = https://github.com/animber-coder/ncurses-snapshots.git
