[submodule "demos/chess"]
	path = demos/chess
	url = https://github.com/animber-coder/Chess-curses.git
	branch = master
[submodule "external/ncurses-snapshots"]
	path = external/ncurses-snapshots
	url = https://github.com/animber-coder/ncurses-snapshots.git
[submodule "external/signals-light"]
	path = external/signals-light
	url = https://github.com/animber-coder/signals-light.git
